

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  color: #162447;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  font-size: 1.3rem;
  background-color: #162447;
  color: #FFFFFF;
}

.header  .navbar-brand{
  margin-right: 3rem;
  font-size: 2rem;
}
.header .nav-link{
  margin: 0 1rem;
}

.navbar-text{
  margin-right: 0.6rem;
}

.navbar-text > a{
  color: #fff;
  text-decoration:line-through
}

.navbar-nav .nav-link.active{
  color: #000;
}

.active{
  color: #000;
  background-color: #F9A826;
  border-radius: 0.6rem;
}

#navbarScrollingDropdown{
  color: #fff;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
}

.history_card .card-body{
  flex-direction: row;
    display: flex;
    justify-content: space-between;
    /* height: 5rem; */
    min-width: 5rem;
    white-space: nowrap;
    background-color: #1F4068;
  }
  
  .copy_card .card-body .first-part{
    flex-direction: row;
      display: flex;
      justify-content: space-between;
      /* height: 5rem; */
      min-width: 5rem;
      white-space: nowrap;
    }

  .history_card .card-text{
    margin: auto 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
}

.history_card .card-header{
    background-color: #162447;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bolder;
}



.history_card{
  margin-bottom: 2rem;
}

.copy_card{
  margin-bottom: 1rem;
  background-color: #1F4068;
  color: #FFFFFF;
}

.copy_card .card-header{
  background-color: #162447;
  color: #FFFFFF;
}

.post_card .card-header{
  background-color: #162447;
  color: #FFFFFF;
}

.post_card h3{
  margin: auto 0rem;
  min-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.post_card{
  margin-bottom: 2rem;
  background-color: #1F4068;
  color: #FFFFFF;
}

.history_card .fixed{
  min-width: 9rem;
  max-height: 3rem;
  margin-left: 2rem;
}

.btn-gap{
  margin-left: 1rem;
}


.textbox{
  width: 90%; 
}
.button{
  font-size: 1.2rem;
  width:8 rem;
  margin-left: 0.5rem;
}

.text{
  font-size: 1.2rem; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  /* max-height: 10rem; */
}
.textarea{
  /* height: 80vh; */
  /* margin: 3rem; */
  width: 80%;
  /* border: green 2px solid; */
  margin: 2rem auto;
}

.textarea .d-flex{
  justify-content: center;
}

.InputField{
  width: 80%;
}


.chatbody{
  /* background-color:; Light background for contrast */
  border-radius: 10px; /* Smooth corners */
  box-shadow: none 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow to lift the box */
  padding: 1rem;
  height: 70vh;
  width: 80%;
  margin: 0rem auto;
  /* border: blue 2px solid; */
  overflow-y: scroll;
  /* border: 1px solid #ddd; */
  padding: 5px;
  /* margin-bottom: 10px; */
}

.left,.right{
  margin: 0.5rem 0;
  font-size: 1rem;
  box-sizing: border-box;
}

.left{
  display: flex;
  /* box-sizing: border-box; */
  /* overflow: scroll; */
  /* text-align: left; */
  /* background-color: red; */
  /* align-content: center; */
  align-items: center;
}

.left strong, .right strong{
  font-size: 2rem;
  border-radius: 100%;
  background-color: red;
  width: 3rem; /* Fixed width for the strong element */
  height: 3rem; 
  /* heigth:3rem ; */
  color: #fff;
  text-align: center;
  /* margin: 0 1rem; */
  flex-shrink: 0;
}

.right strong{
  margin-left: 0.6rem;
}

.left strong{
  margin-right:0.6rem;
}

.left p, .right p{
  margin-bottom: 0rem;
  background-color: #ccc;
  color: #000;
  flex: 1; /* Allow the p element to take the available space */
  min-width: 0; /* Prevent flexbox from enforcing a minimum width */
  border-radius: 0.5rem;
  padding: 0.5rem 0.3rem; /* Padding inside the p element */
  word-wrap: break-word; /* Ensure long words wrap */
  overflow-wrap: break-word; /* Support for modern browsers */
  white-space: normal; /* Allow text to wrap */
}

.right strong:last-of-type {
  visibility: hidden;
}

.left strong:last-of-type {
  visibility: hidden;
}



.right{
  display: flex;
  flex-direction: row-reverse;
  align-items:flex-start;
  /* align-content:start; */
  /* text-align: right; */
}


@media only screen and (max-width: 768px){
  #navbarScrollingDropdown{
  margin: 0.5rem ;
  background-color: #1F4068;
 }
 .dropdown-menu.show {
  width:100%;}
  .nav-link{
    padding: 0.5rem 1rem;
  }

  .history_card .card-body{
    margin-bottom: 0;
  }

  .history_card .fixed{
    /* min-height: 4rem; */
    margin: auto 1rem;
  }

  .InputField{
    width: 100%;
  }

  .button{
    width: 6rem;
    font-size: 1rem;
  }

  .chatbody{
    width: 100%;
  }

  .textarea{width: 100%;}

  .home-content{
    width: 100%;
  }
}
