body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1A2E;
  color: #EAEAEA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  font-size: 1.3rem;
  background-color: #162447;
  color: #FFFFFF;
}

.header  .navbar-brand{
  margin-right: 3rem;
  font-size: 2rem;
}
.header .nav-link{
  margin: 0 1rem;
}

.navbar-text{
  margin-right: 0.6rem;
}

.navbar-text > a{
  color: #fff;
  text-decoration:line-through
}

.navbar-nav .nav-link.active{
  color: #000;
}

.active{
  color: #000;
  background-color: #F9A826;
  border-radius: 0.6rem;
}

#navbarScrollingDropdown{
  color: #fff;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
}

.history_card .card-body{
  flex-direction: row;
    display: flex;
    justify-content: space-between;
    /* height: 5rem; */
    min-width: 5rem;
    white-space: nowrap;
    background-color: #1F4068;
  }
  
  .copy_card .card-body .first-part{
    flex-direction: row;
      display: flex;
      justify-content: space-between;
      /* height: 5rem; */
      min-width: 5rem;
      white-space: nowrap;
    }

  .history_card .card-text{
    margin: auto 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
}

.history_card .card-header{
    background-color: #162447;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bolder;
}



.history_card{
  margin-bottom: 2rem;
}

.copy_card{
  margin-bottom: 1rem;
  background-color: #1F4068;
  color: #FFFFFF;
}

.copy_card .card-header{
  background-color: #162447;
  color: #FFFFFF;
}

.post_card .card-header{
  background-color: #162447;
  color: #FFFFFF;
}

.post_card h3{
  margin: auto 0rem;
  min-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.post_card{
  margin-bottom: 2rem;
  background-color: #1F4068;
  color: #FFFFFF;
}

.history_card .fixed{
  min-width: 9rem;
  max-height: 3rem;
  margin-left: 2rem;
}

.btn-gap{
  margin-left: 1rem;
}

@media only screen and (max-width: 768px){
  #navbarScrollingDropdown{
  margin: 0.5rem ;
  background-color: #1F4068;
 }
 .dropdown-menu.show {
  width:100%;}
  .nav-link{
    padding: 0.5rem 1rem;
  }

  .history_card .card-body{
    margin-bottom: 0;
  }

  .history_card .fixed{
    /* min-height: 4rem; */
    margin: auto 1rem;
  }


}
